$color-nav: desaturate( lighten( purple, 30% ), 80% );
//$color-nav: desaturate( lighten( green, 30% ), 70% );
$color-nav-light:    lighten( $color-nav, 10% );
$color-nav-lighter:  lighten( $color-nav, 20% );
$color-nav-lightest: lighten( $color-nav, 30% );
$color-nav-dark:     darken( $color-nav, 10% );
$color-nav-darker:   darken( $color-nav, 20% );
$color-nav-darkest:  darken( $color-nav, 30% );

$font-family-serif: "Roboto Slab", "Georgia", "Times New Roman", "Times", serif;
$font-family-sans-serif: "Oxygen", "Helvetica", "Arial", sans-serif;

h1, h2, h3, h4, h5, h6 {
	font-family: $font-family-serif;
	font-weight: 400;
	margin-bottom: 0.5em;
}

.page-title {
	margin-top: 2rem;
}

%polaroid {
	@include box-shadow( 0 1px 12px -3px black );
	@include box-sizing( border-box );
	@include border-radius( 2px );
	background: white;
	padding: 3px;
}

%clearfix::after {
	content: "";
	display: table;
	clear: both;
}
