@import "compass/css3";
@import "normalize";
@import "susy";

@import "theme";
@import "misc/fonts";

@import "layout/grid";
@import "layout/header";
@import "layout/nav";
@import "layout/content";
@import "layout/footer";

@import "modules/soc";
@import "modules/gal";

@import "modules/contact";
@import "modules/media";
@import "modules/videos";
@import "modules/resume";

body {
	font: 16px/1.5 $font-family-sans-serif;
	min-width: 900px;
}
