.content {
	@include span-columns( 7, 12 );
	//margin-top: 2em;
}

.teaser {
	background: lighten( $color-nav-lightest, 12% );
	margin: 2em -1em;
}

.teaser.alt {
	background: lighten( $color-nav-lightest, 5% );
}

.teaser-title {
	background: lighten( $color-nav-lightest, 8% );
	margin-top: 0.4em;
	font-size: 1.5em;
	margin: 0;

	a {
		color: $color-nav-dark;
		@include text-shadow( 0 1px 2px white );
		display: block;
		text-decoration: none;
		padding: 0.5rem 1rem;
	}
}

.teaser.alt .teaser-title {
	background: darken( $color-nav-lightest, 2% );
}

.teaser-content {
	padding: 1px 1rem 1px;
}

.teaser-meta {
	text-transform: uppercase;
	font-size: 0.7em;
	margin: 1rem 0;
	color: $color-nav-light;
}

.read-more {
	display: block;
	width: 100px;
	background: $color-nav-lighter;
	border-bottom: 3px solid $color-nav;
	@include text-shadow( 0 1px 2px $color-nav-darker );
	text-decoration: none;
	margin: 1.25em 0 0;
	padding: 0.25em 0.4em;
	color: white;

	&:after {
		content: " →";
	}
}
