.footer {
	color: #DDD;
	padding: 6em 0 2em;
}

.pagecraft-credit {
	background: #c26b57;
	color: white;
	text-decoration: none;
	display: block;
	float: right;
	padding: 10px 9px 6px;
	margin: 0 40px 0 0;
	@include border-top-radius( 3px );
}
