.header {
	padding-top: 2em;
	background: image-url('background.png');
}

.title {
	margin: 0.75em 0 1em;
	@include span-columns( 7, 12 );
	font: 400 5em/1 $font-family-serif;

	a {
		text-decoration: none;
		color: black;
	}

	span {
		display: block;
		font-weight: 100;
		font-size: 0.8em;
		text-transform: uppercase;
	}
}

.headshot {
	@include span-columns( 5 omega, 12 );
	position: absolute;
	z-index: 100;
}

.headshot-image {
	width: 100%;
	height: auto;
	@extend %polaroid;
}

.internal-page {
	.title {
		@include span-columns( 8, 12 );
		margin: 0 0 0.5em;
		font-size: 4em;
	}

	.headshot{
		@include span-columns( 4 omega, 12 );
	}
}
