.nav {
	background: $color-nav;
}

.menu-items {
	margin: 0 0 0 -0.75em;
	padding: 0;
	list-style: none;
	font-size: 1.2em;
	font-weight: bold;
}

.menu-item {
	margin: 0;
	padding: 0;
	float: left;
	display: block;

	a {
		display: block;
		padding: 0.75em 1em 0.5em;
		background: $color-nav;
		text-decoration: none;
		color: white;
		@include text-shadow( 0 1px 3px $color-nav-dark );
		border-bottom: 0.25em solid $color-nav;
	}
}

.current-menu-item {
	a {
		padding: 0.65em 1em 0.6em;
		border-bottom-color: $color-nav-darker;
		background: $color-nav-light;
		@include text-shadow( 0 1px 5px $color-nav-darker );
	}
}

.menu-item:hover {
	@extend .current-menu-item;
}
