.pagecraft-form {
	.control-group {
		margin-bottom: 15px;
	}

	.control-label {
		float: left;
		box-sizing: border-box;
		width: 80px;
		text-align: right;
		text-transform: uppercase;
		font-size: 0.75em;
		letter-spacing: 1px;
		padding: 5px 10px 0 0;
		@include opacity( 0.8 );
	}

	.controls {
		margin-left: 80px;
	}
}

.pagecraft-form-text {
	box-sizing: border-box;
	width: 70%;
}

.pagecraft-form-textarea {
	box-sizing: border-box;
	width: 100%;
	min-height: 150px;
}
