.pagecraft-photos {
	margin: 0;
	padding: 0;
	list-style: none;
	@extend %clearfix;
}


.pagecraft-photos-photo {
	float: left;
	//margin: 0 1em 1em 0;
	@include span-columns( 4, 12 );

	&:nth-child( 3n ) {
		@include omega;
	}

	a {
		display: block;
		text-decoration: none;
		@include box-sizing( border-box );
		padding: 0 1em 1em 0;

		&:hover {
			position: relative;
			top: -4px;
		}
	}

	img {
		@extend %polaroid;
		@include box-shadow( 0 2px 12px -5px black );
		width: 150px;
		height: 150px !important;
	}
}
