.pagecraft-media-types {
	list-style: none;
	margin: 0;
	padding: 0;
}

.pagecraft-media-type {
	@extend .pagecraft-media-types;

	a {
		margin: 1em 0 0;
		display: block;
		padding: 1em;
		font-size: 1.5em;
		font-weight: bold;
		text-align: center;
		@include text-shadow( 0 1px 2px white );
		border-bottom: 4px solid $color-nav;
		background: $color-nav-lightest;
		color: $color-nav-darker;
		text-decoration: none;

		&:hover {
			background: lighten( $color-nav-lightest, 5% );
			border-bottom-color: $color-nav-dark;
		}
	}
}
