.soc-items {
	margin: 2em 0 0;
	padding: 0;
}

.soc-item {
	float: left;
	list-style: none;
	margin-right: 1em;
}

%soc {
	font: 1.5em/1 "lindseykyler";
	color: white;
	text-decoration: none;
	padding: 0.5em;
	@include border-radius( 3em );
	-webkit-font-smoothing: antialiased;
	display: block;
}

.soc-twitter {
	@extend %soc;
	background: #4099FF;
}

.soc-facebook {
	@extend %soc;
	background: #3B5998;
}
