.pagecraft-videos {
	@extend .pagecraft-photos
}

.pagecraft-videos-video {
	@extend .pagecraft-photos-photo;
}

.pagecraft-videos-caption {
	height: 40px;
	font-size: 0.75em;
	margin: 5px 5px 1rem;
	color: $color-nav-darkest;
}
