{% extends "base.twig" %}

{% block content %}

{% if title %}<h1 class="page-title">{{title}}</h1>{% endif %}

{% for post in pc.posts %}

<article class="teaser{% if loop.index is odd %} alt{% endif %}" id="teaser-{{post.ID}}">
	<h1 class="teaser-title"><a href="{{post.permalink}}">{{post.title}}</a></h1>
	<div class="teaser-content">
		<p>{{post.get_preview}}</p>
		<ul class="pagecraft-photos">
		{% for item in post.get_field('photo_gallery')|slice(0,3) %}
			<li class="pagecraft-photos-photo">
				<a href="{{ post.permalink }}">
					<img src="{{ TimberImage(item.photo).src('thumbnail') }}" alt="{{ photo.caption }}">
				</a>
			</li>
		{% endfor %}
		</ul>
	</div>
</article>

{% endfor %}

{% endblock %}
