{% extends "base.twig" %}

{% block content %}

<h1 class="page-title">In the press</h1>

{% for post in pc.posts %}
	<article class="teaser{% if loop.index is odd %} alt{% endif %}" id="tease-{{post.ID}}">
		<h1 class="teaser-title"><a href="{{post.permalink}}">{{post.title}}</a></h1>
		<div class="teaser-content">
			<div class="teaser-meta">Posted on <strong>{{post.post_date|date("l, F jS, Y")}}</strong></div>
			<div>
				<p>{{post.get_content}}</p>
			</div>
		</div>

		{% if post.get_thumbnail %}
			<img src="{{post.get_thumbnail.get_url}}" />
		{% endif %}
	</article>
{% endfor %}

{% endblock %}
