<!doctype html>
<!--[if IE 8]><html class="no-js ie ie8 lt-ie9" {{language_attributes}}> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" {{language_attributes}}> <!--<![endif]-->
<head>
	{% include 'head.twig' %}  
	{% block head %}
	{% endblock %}  
</head>
<body class="{{body_class}}" data-source="base.twig">
	{% include 'header.twig' %}  

	<div class="container {{sidebar_class}}">
		<section class="content">
		{% block content %}
			Sorry, no content
		{% endblock %}
		</section>
	</div>

	{% include 'footer.twig' %}

	{{ wp_footer }}
</body>
</html>
