<meta charset="UTF-8" />
<title>{{wp_title}}</title>
<meta name="description" content="{{ bloginfo('description') }}">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->

<!-- CSS -->
<link rel="stylesheet" href="/assets/stylesheets/style.css?11152013">
<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:100,400|Oxygen:400,700' rel='stylesheet' type='text/css'>

<!-- jQuery -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<!-- Add fancyBox main JS and CSS files -->
<script type="text/javascript" src="/fancybox/jquery.fancybox.js?v=2.1.5"></script>
<link rel="stylesheet" type="text/css" href="/fancybox/jquery.fancybox.css?v=2.1.5" media="screen" />
<script type="text/javascript" src="/fancybox/helpers/jquery.fancybox-media.js?v=1.0.6"></script>

<!-- JS -->
<script type="text/javascript" src="/assets/javascripts/script.js"></script>

{{wp_head}}
