<header class="header">
	<div class="container header-primary">
		<h1 class="title"><a href="{{function("home_url")}}">Lindsey <span>Kyler</span></a></h1>
		<div class="headshot">
			<img class="headshot-image" src="/assets/images/lindsey.jpg" alt="">
			{% if function('is_front_page') == '0' %}
				<section class="sidebar">
				{% include 'sidebar.twig' %}  
				</section>
			{% endif %}
		</div>
	</div>
	<nav class="nav">
		<div class="container">
			<ul class="menu-items">
				{% for item in header.menu.get_items %}
				<li class="menu-item {{item.class}}"><a href="{{item.get_path}}">{{item.title}}</a></li>
				{% endfor %}
			</ul>
		</div>
	</nav>
</header>
