{% extends "base.twig" %}

{% block content %}

<article class="entry" id="post-{{pc.post.ID}}">
	<h1 class="entry-title">{{pc.post.post_title}}</h1>
	<div class="entry-content">
		{{pc.post.get_content}}
	</div>
</article>

{% endblock %}
