{% extends "base.twig" %}

{% block content %}

<article class="entry" id="post-{{pc.post.ID}}">
	<h1 class="entry-title">{{pc.post.post_title}}</h1>
	<div class="entry-content">
		<ul class="pagecraft-videos">
		{% for video in pc.videos.videos %}
			<li class="pagecraft-videos-video">
				<a href="{{ video.url }}" class="fancybox-media">
					<img src="{{ video.thumbnail }}" alt="{{ video.caption }}">
					<p class="pagecraft-videos-caption">{{ video.caption }}</p>
				</a>
			</li>
		{% endfor %}
		</ul>
	</div>
</article>

{% endblock %}
