{% extends "base.twig" %}

{% block content %}

<article class="entry" id="post-{{pc.post.ID}}">
	<h1 class="page-title">{{pc.post.post_title}}</h1>
	<div class="entry-content">
		{{pc.post.get_content}}

		<ul class="pagecraft-media-types">
			<li class="pagecraft-media-type">
				<a href="/photos/">Photos</a>
			</li>
			<li class="pagecraft-media-type">
				<a href="/press/">Press</a>
			</li>
			<li class="pagecraft-media-type">
				<a href="/videos/">Videos</a>
			</li>
		</ul>
	</div>
</article>

{% endblock %}
