<ul class="soc-items">
	<li class="soc-item"><a href="http://twitter.com/Lindsey_Kyler" class="soc-twitter">t</a></li>
	<li class="soc-item"><a href="http://facebook.com/lindsey.kyler" class="soc-facebook">f</a></li>
</ul>
