{% extends "base.twig" %}

{% block content %}

<article class="entry" id="post-{{pc.post.ID}}">
	<h1 class="entry-title">{{pc.post.post_title}}</h1>
	<div class="entry-content">
		<ul class="pagecraft-photos">
		{% for photo in pc.photos.photos %}
			<li class="pagecraft-photos-photo">
				<a href="{{ photo.src.full }}" class="fancybox" rel="gallery">
					<img src="{{ photo.src.thumbnail }}" alt="{{ photo.caption }}">
				</a>
			</li>
		{% endfor %}
		</ul>
	</div>
</article>

{% endblock %}
